.app {
  display: flex;
  flex-flow: row;
  background-color: #e7ebf0;
}

.app-bar {
  background-color: #7089a8;
}

.poll-menu {
  background-color: white;
  border-right: 1px solid lightgray;
  min-width: 12em;
}

.user-menu-current-user-details {
  background-color: #f3f3f3;
}

.poll-container {
  display: flex;
  flex-flow: column wrap;
  margin: 0 2em 20em 2em;
}

.not-allowed-to-vote-banner {
  display: flex;
  flex-flow: column wrap;
  padding: 2em;
  background-color: #7089a8;
  color: white;
}

.poll-title {
  display: flex;
  flex-flow: column wrap;
  margin: 2em 0 0 0;
}

.poll-description {
  display: flex;
  flex-flow: column wrap;
}

.poll-group-header {
  display: flex;
  flex-flow: column wrap;
  margin: 2em 0 0 0;
}

.candidate-card {
  margin: 0.5em 0 0 0;
}

.candidate-card-internal {
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
}

.candidate-card-internal.one-vote {
  background-color: #f8fded;
}

.candidate-card-internal.two-votes {
  background-color: #ecf9cf;
}
.candidate-card-internal.three-votes {
  background-color: #dff5ad;
}
.candidate-card-internal.four-votes {
  background-color: #cdf080;
}

.candidate-card-internal-controls {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.point-counter-card {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
  border-top: 1px solid lightgray;
}

.point-counter-card-internal {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
}

.point-counter-card-internal.all-points-spent {
  background-color: #ecf9cf;
}

.chart-container {
  height: 100vh;
  min-width: 20em;
}
